* {
	margin: 0px;
	padding: 0px;
	background-color: #ccc;
	width: 200px;
	height: 150px;

}

/* Conteiner   */
.container{
	background-color: #fff;
	color: #000;
	justify-content: flex-end;


}
.item{
	background-color: #333;
	color: #fff;
	padding: 20px;
	margin: 5px;
}


